<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
        <h3 class="bg-primary text-white p3">
        [Cimmie] To Do List
        </h3>
        <div class="input-group">
        <input type="text" class="form-control">
            <div class="input-group-append">
            <button class="btn btn-primary">Add</button>
            </div>
        </div>
        <table class="table table-striped table-bordered">
        <thead>
            <tr>   
            <th>#</th>           
            <th>Açıklama</th>
            <th>Durum</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Kahvaltı</td>
            <td>No</td>   
            </tr> 
            <tr>       
            <th scope="row">2</th>    
            <td>Spor</td>
            <td>No</td>
            </tr>  
            <tr>     
            <th scope="row">3</th>            
            <td>Fatura</td>
            <td>No</td>
            </tr>  
            <tr>   
            <th scope="row">4</th>           
            <td>Yüzme</td>
            <td>No</td> 
            </tr>  
            <tr>   
            <th scope="row">5</th>         
            <td>Sinema</td>
            <td>No</td>
            </tr> 
            <tr>
            <th scope="row">6</th>
            <td>Satranç</td>
            <td>No</td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
</div>